<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.xiaomizha.xuyou.user.mapper.SystemConfigsMapper">

    <resultMap id="BaseResultMap" type="ltd.xiaomizha.xuyou.user.entity.SystemConfigs">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="configKey" column="config_key" jdbcType="VARCHAR"/>
            <result property="configValue" column="config_value" jdbcType="VARCHAR"/>
            <result property="configType" column="config_type" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="isPublic" column="is_public" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,config_key,config_value,
        config_type,description,is_public,
        created_at,updated_at
    </sql>
</mapper>
