<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.xiaomizha.xuyou.user.mapper.VipLevelConfigMapper">

    <resultMap id="BaseResultMap" type="ltd.xiaomizha.xuyou.user.entity.VipLevelConfig">
            <id property="levelId" column="level_id" jdbcType="INTEGER"/>
            <result property="vipLevel" column="vip_level" jdbcType="TINYINT"/>
            <result property="levelName" column="level_name" jdbcType="VARCHAR"/>
            <result property="minPoints" column="min_points" jdbcType="INTEGER"/>
            <result property="maxPoints" column="max_points" jdbcType="INTEGER"/>
            <result property="iconUrl" column="icon_url" jdbcType="VARCHAR"/>
            <result property="badgeColor" column="badge_color" jdbcType="VARCHAR"/>
            <result property="dailyPointsLimit" column="daily_points_limit" jdbcType="INTEGER"/>
            <result property="monthlyPointsLimit" column="monthly_points_limit" jdbcType="INTEGER"/>
            <result property="benefitsJson" column="benefits_json" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        level_id,vip_level,level_name,
        min_points,max_points,icon_url,
        badge_color,daily_points_limit,monthly_points_limit,
        benefits_json,status,created_at,
        updated_at
    </sql>
</mapper>
