<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.xiaomizha.xuyou.user.mapper.VipPointsRulesMapper">

    <resultMap id="BaseResultMap" type="ltd.xiaomizha.xuyou.user.entity.VipPointsRules">
            <id property="ruleId" column="rule_id" jdbcType="INTEGER"/>
            <result property="ruleCode" column="rule_code" jdbcType="VARCHAR"/>
            <result property="ruleName" column="rule_name" jdbcType="VARCHAR"/>
            <result property="pointsValue" column="points_value" jdbcType="INTEGER"/>
            <result property="pointsType" column="points_type" jdbcType="OTHER"/>
            <result property="maxTimesPerDay" column="max_times_per_day" jdbcType="INTEGER"/>
            <result property="maxTimesTotal" column="max_times_total" jdbcType="INTEGER"/>
            <result property="requireVipLevel" column="require_vip_level" jdbcType="TINYINT"/>
            <result property="cooldownSeconds" column="cooldown_seconds" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        rule_id,rule_code,rule_name,
        points_value,points_type,max_times_per_day,
        max_times_total,require_vip_level,cooldown_seconds,
        description,status,created_at,
        updated_at
    </sql>
</mapper>
